body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
#login-form{
    display: flex;
}

#login-form button{
    font-size: 2rem;
    margin-left: 0.3rem;
}

#login-form #WebSocketIP {
    width: 500px;
    padding: 10px;
    border: 2px solid #3498db;
    border-radius: 5px;
    font-size: 2rem;
    outline: none;
}

#login-form #WebSocketIP::placeholder {
    color: #ccc;
}