*{
    /*모든 태그의 기본 마진과 기본 패딩을 삭제*/
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /*준 값에 맞춰서 CSS하기 위해서 넣는 코드들*/
    /* 폰트 */
    font-family: Arial, sans-serif; 
}
/* 표시를 없애기 위해서 class 지정 */
.hidden {
    display: none;
}

body {
    background: lightslategray;
}

button {
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    font-size: 1.3rem;
    cursor: pointer;
    background-color: #3498db;
    color: #fff;
}
button:hover {
    background-color: #2980b9;
}